{{>menu}}

<h2>Productos:</h2>
<hr>

<ul>
    {{#each productos}}
    <li>
        {{title}} | ${{price}} | {{description}}
    </li>
    {{/each}}
</ul>

<a href="/products?page=1">Pág.1</a>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Pág.Prev.</a>
{{else}}
    <a href="/products?page={{prevPage}}" class="disabled">Pág.Prev.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Pág.Sig.</a>
{{else}}
    <a href="/products?page={{nextPage}}" class="disabled">Pág.Sig.</a>
{{/if}}


<a href="/products?page={{totalPages}}">Ult.Pág</a>
